body {
	width: 100%;
	height: 100%;
	background-color: #263238;
}

.headerBar {
	padding-top: 30px;
	padding-left: 25px;
	height: 5%;
	min-height: 30px;
	color: white;
	font-size: 2em;
	margin-bottom: 10px;
}

.mdl-grid {
	height: 75%;
	min-height: 500px;
	width: 80%;
}

.leftContainer, .rightContainer {
	height: 100%;
}

#innerTop, #innerBottom {
	height: 45%;
}

#innerBottom {
	position: relative;
	margin-top: 8%;
}

.mdl-card {
	height: 100%;
}

#topArtistsCard {
	background-color: white;
}

#searchArtistsCard {
	background-color: white;
}

#loginCard {
	background-color: #0398e2;
}

.mdl-button {
	float: right;
}

.cardIcon {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	align-items: center;	
	float: left;
	height: 100%;
}

#topArtistsCard .cardIcon {
	background-color: #9C27B0;
}

#searchArtistsCard .cardIcon {
	background-color: #4255bd;
}

#cardWrapper {
	height: 100%;
	padding: 0;
}

.cardText {
	height: 100%;
	float: right;
	display: block;
	padding: 20px;
}

#icons {
	text-align: center;
	width: 100%;
}

.material-icons.md-50 {
	font-size: 8em;
}

.material-icons.md-light.md-inactive {
	color: rgba(255, 255, 255, 0.3);
}

#textContent {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1.5em;
	display: block;
	width: 100%;
	min-height: 70%;
	padding-top: 20px;
	padding-bottom: 20px;
}

#textContent span {
	font-weight: 400;
}

#buttonWrapper {
	border: none;
	position: absolute;
  	bottom: 10px;
  	right: 16px;
}
