html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}

.leftDiv {
	position: fixed;
	height: 100%;
	width: 20%;
	background-color: #263238;
	padding: 25px;
	z-index: 1;
	color: white;
	font-family: 'Roboto', sans-serif;
}

.title {
	display: block;
	font-size: 1.8em;
	margin-bottom: 30%;
	font-weight: 300;
}

.contentDiv {
	position: absolute;
	height: 100%;
	width: 80%;
	background-color: #9C27B0;
	right: 0;
	z-index: 0;
}

.resultTrack {
	display: block;
	color: white;
	margin-top: 20px;
	line-height: 140%;
	font-size: 1.3em;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

#wordCloud {
	z-index: 2;
	background-color: white;
}